.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .nav {
        .links-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
            li {
                a {
                    font-size: 14px;
                    text-transform: uppercase;
                    &:hover {
                        padding-bottom: 5px;
                        border-bottom: 2px solid $accent;
                    }
                }
            }
        }
    }
}
