.header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .nav {
        .links-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 50px;
            li {
                a {
                    font-size: 14px;
                    text-transform: uppercase;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -10px;
                        border: 0px solid $accent;
                        width: 0%;
                        transition:
                            width 0.3s ease-in-out,
                            border 0.3s ease-in-out;
                    }
                    &:hover::after {
                        width: 100%;
                        border: 1px solid $accent;
                    }
                }
            }
            .loggout {
                border: none;
                background: none;
                text-transform: uppercase;
                color: $accent;
                cursor: pointer;
            }
        }
    }
    .menu-burger {
        display: none;
    }
}

@media screen and (max-width: $max-phone) {
    .header {
        height: 60px;
        padding: 0 20px;
        .menu-burger {
            display: flex;
        }
        .burger-icon {
            background: transparent;
            color: $header;
            border: none;
            outline: none;
            font-size: 20px;
        }
        .burger-close {
            z-index: 6;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 20px;
        }
        .burger-menu {
            z-index: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #fff;
            height: 100vh;
            width: 100%;
            text-align: center;
            padding: 2rem;
            position: absolute;
            top: -105vh;
            left: 0;
            right: 0;
            min-height: 100vh;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            transition: top 1s ease-in-out;
            li {
                margin-bottom: 50px;

                font-size: 20px;
                a {
                    color: $header;
                }
            }
        }
        .slide-in {
            top: 0vh;
        }
    }
    .logo {
        width: 70px;
    }

    .nav {
        display: none;
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .header {
        padding: 0 20px;
        overflow: hidden;
    }
}

@media screen and (min-width: $min-labtop) and (max-width: $max-labtop) {
    .header {
        padding: 0 20px;
    }
}
