.loader-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    .blog-loading {
        width: 50px;
        height: 50px;

        border-radius: 50%;
        border: 5px dotted $accent;

        animation: rotating 2s infinite linear;
    }
}

.blog {
    margin: 80px 0 90px 0;
    width: 100%;
    overflow: hidden;
    &-img {
        width: 100%;
        // height: 600px;
        object-fit: cover;
        box-shadow: 0px 8px 36px -4px rgba(0, 0, 0, 0.1);
    }
    &-author {
        margin: 24px 0;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
        p {
            font-size: 14px;
            color: $text;
        }
    }

    &-content {
        margin-bottom: 64px;
    }
    &-title {
        font-size: 28px;
        margin-bottom: 18px;
        color: $header;
    }
    &-text {
        text-align: justify;
        font-size: 16px;
        color: $text;
    }

    .tech-content {
        margin-bottom: 50px;
        h2 {
            font-size: 22px;
            color: $header;
        }
        ul {
            margin-top: 16px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 30px;
        }
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        .btn {
            &-light {
                cursor: pointer;
                background: none;
                padding: 15px 47px;
                border: 1px solid $header;
                color: $header;
            }
            &-solid {
                cursor: pointer;
                border: none;
                background: none;
                padding: 15px 47px;
                background: $accent;
                color: #fff;
            }
        }
        .separation {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 13px;
            .line {
                width: 45px;
                height: 1px;
                background-color: $header;
            }
        }
    }
}

@media screen and (max-width: $max-phone) {
    .blog {
        padding: 0 20px;
        margin-top: 50px;
        &-img {
            width: 100%;
            height: 175px;
        }
        &-author {
            margin: 20px 0;
            gap: 8px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
            p {
                font-size: 12px;
                color: $text;
            }
        }
        &-title {
            font-size: 16px;
            margin-bottom: 12px;
        }
        &-text {
            font-size: 14px;
        }
        .tech-content {
            h2 {
                font-size: 16px;
            }
            ul {
                color: $label;
                font-size: 14px;
            }
        }
        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;

            .btn {
                &-light {
                    font-size: 14px;
                    width: 100%;
                    text-align: center;
                }
                &-solid {
                    font-size: 14px;
                    width: 100%;
                    text-align: center;
                }
            }
            .separation {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .blog {
        padding: 0 20px;
        margin-top: 40px;
        &-img {
            height: 320px;
        }
        &-author {
            margin: 20px 0;
            gap: 8px;
            img {
                width: 40px;
                height: 40px;
            }
            p {
                font-size: 16px;
                color: $text;
            }
        }
        &-title {
            font-size: 24px;
            margin-bottom: 12px;
        }
        &-text {
            font-size: 16px;
        }
        .tech-content {
            h2 {
                font-size: 20px;
            }
            ul {
                color: $label;
                font-size: 16px;
            }
        }
        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;

            .btn {
                &-light {
                    font-size: 18px;
                    width: 100%;
                    text-align: center;
                }
                &-solid {
                    font-size: 18px;
                    width: 100%;
                    text-align: center;
                }
            }
            .separation {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: $min-labtop) and (max-width: $max-labtop) {
    .blog {
        padding: 0 20px;
        margin-top: 40px;
    }
}
