.error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 118px 0;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    .line {
        height: 3px;
        width: 198px;
        background: $accent;
    }
    .title {
        font-size: 250px;
        color: $header;
    }
}

.subtitle {
    font-size: 120px;
    color: $text;
}

.btn {
    margin-top: 50px;
    color: #fff;
    background: $accent;
    border: none;
    padding: 13px 59px;
    cursor: pointer;
}

@media screen and (max-width: $max-phone) {
    .main-header {
        padding: 0 20px;
        gap: 40px;
        .line {
            height: 3px;
            width: 100px;
            background: $accent;
        }
        .title {
            font-size: 50px;
            color: $header;
        }
    }
    .subtitle {
        font-size: 70px;
        color: $text;
    }
}

@media screen and (min-width: $min-tablet) and (max-width: $max-tablet) {
    .main-header {
        padding: 0 20px;

        .line {
            width: 120px;
        }
        .title {
            font-size: 100px;
        }
    }
    .subtitle {
        font-size: 90px;
    }
}

@media screen and (min-width: $min-labtop) and (max-width: $max-labtop) {
    .main-header {
        padding: 0 20px;
        gap: 14px;

        .line {
            width: 140px;
        }
        .title {
            font-size: 180px;
        }
    }
    .subtitle {
        font-size: 90px;
    }
}
